
/* Código en línea */
p code {
  background-color: #333333; /* Fondo oscuro */
  color: #3498db; /* Texto en un color destacado */
  padding: 2px 4px; /* Espaciado interno */
  border-radius: 4px; /* Bordes redondeados */
  font-size: 0.95em; /* Tamaño de fuente */
  font-family: "Fira Code", monospace; /* Fuente monoespaciada */
}

/* Código en títulos (h1, h2, h3, etc.) */
h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  background-color: #f5f5f5; /* Fondo oscuro */
  color: #3498db; /* Verde brillante */
  padding: 2px 4px; /* Espaciado interno */
  border-radius: 4px; /* Bordes redondeados */
  font-size: 0.95em; /* Tamaño de fuente */
  font-family: "Fira Code", monospace; /* Fuente monoespaciada */
}

/* Estilo para enlaces */
a {
  color: #3498db; /* Verde brillante */
  text-decoration: none; /* Sin subrayado */
}

/* Estilo para enlaces al pasar el cursor */
a:hover {
  color: #20c997; /* Celeste brillante al pasar el cursor */
  text-decoration: underline; /* Subrayado al pasar el cursor */
}
pre {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}
/* Colores de sintaxis */
.hljs-keyword { color: #ff79c6; } /* Palabras clave */
.hljs-string { color: #f1fa8c; } /* Cadenas */
.hljs-comment { color: #6272a4; font-style: italic; } /* Comentarios */
.hljs-number { color: #bd93f9; } /* Números */
.hljs-function { color: #50fa7b; } /* Funciones */
code, pre {
  font-family: "Fira Code", "Courier New", monospace;
}